@media (max-width: 400px) {
	.logo {
		max-width: 180px !important;
	}
}

@media (min-width: 400px) {
	.logo {
		max-width: 300px !important;
	}
}

body {
	background-color: #fff03e !important;
}

.btn {
	background-color: black !important;
	color: white;
}

.text-description {
	font-size: 14px;
}

.footer-title {
	color: black !important;
}
